@import "variables.less"; 

.settForms(){
form{
    padding: 0.5em;
    .border-radius(1em);
    
}
input{
     .border-radius(0.7em);
     height: 2em;
     border: none;
}

input::select{
    border:none;
}
}



.settFormsColors(@cbname){
      /*@bgcol:"@{cbname}b5";
      background-color: @@bgcol;*/
      background-color: ~"@{@{cbname}b5}";
      & *{
          color: @@cbname;
      }
      &  input{
            background-color: ~"@{@{cbname}b4}";
            font-family: @inputFontFamily;
      } 
    
      & input:hover{
        background-color: @c1b3;
        color: ~"@{@{cbname}n1}";
      }
      & input[type$="submit"]{
      background-color: ~"@{@{cbname}b1}";
      color:  ~"@{@{cbname}b4}";    
      font-weight: bold;
      line-height: 2em;
      .border-radius(0.5em);
}
    & input[type$="submit"]:hover{
    background-color: @c1;
    color: @c1b3;
    }


}
