/*@c2b1:lighten(@c2,5%);
@c2b2:lighten(@c2,10%);
@c2b3:lighten(@c2,15%);
@c2b4:lighten(@c2,18%);
@c2b5:lighten(@c2,22%);
@c2b6:lighten(@c2,25%);*/
/*.colorCalc(@color,@pos,@Smax:0,@pasos: 9,@Bmax: 0){

& when (@Bmax = 0){
    @Bmax: lightness(@color);}    
  
  
    @perc: colPerc(@Bmax,@pasos,@pos);
    @col: lighten(@color,@perc);
   & when  (@pos < 0) {@col: darken(@color,@perc);}
    
     & when (@Smax > 0) {
      @perc: colPerc(@Smax,@pasos,@pos);
      @col: desaturate(@col,@perc);
    } 

}

.colPerc(@max,@pasos,@pos){
  @int: @max/@pasos;
  @pos: abs(@pos);
  @pos: @pos+1;
  @perc: @int*@pos;

}

.BM(@Bmax) when (@Bmax = 0){
    @Bmax: lightness(@color); 
}
*/
#colortest {
  width: auto;
}
.ct {
  width: auto;
}
.fila {
  display: block;
  float: left;
  width: 30%;
  margin: 10%;
}
.col,
.som {
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 10px 0 0 0;
  font-weight: bold;
  color: white;
}
.col {
  -webkit-box-shadow: 1px 1px 3px 0px #666666;
  -moz-box-shadow: 1px 1px 3px 0px #666666;
  box-shadow: 1px 1px 3px 0px #666666;
  -o-box-shadow: 1px 1px 3px 0px #666666;
  -ms-box-shadow: 1px 1px 3px 0px #666666;
  text-shadow: 0px 1px 2px black;
}
.col span {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.color div {
  height: 100px;
  line-height: 100px;
}
.som {
  margin-top: 20px;
  color: black;
  display: inline;
  float: left;
  width: 100px;
  margin: 30px;
}
