/* Colors class */
.c1 {
  color: #188e90;
}
.bg-c1 {
  background-color: #188e90;
}
.c1b6 {
  color: #9feeef;
}
.c1b5 {
  color: #73e6e8;
}
.c1b4 {
  color: #3edcdf;
}
.c1b3 {
  color: #23cfd2;
}
.c1b2 {
  color: #1fb9bc;
}
.c1b1 {
  color: #1ca4a6;
}
.c1n6 {
  color: #093839;
}
.c1n5 {
  color: #0c4546;
}
.c1n4 {
  color: #0e5253;
}
.c1n3 {
  color: #105f60;
}
.c1n2 {
  color: #126c6d;
}
.c1n1 {
  color: #14787a;
}
.c2b6 {
  color: #f4dfc0;
}
.c2b5 {
  color: #f2d8b3;
}
.c2b4 {
  color: #efcfa2;
}
.c2b3 {
  color: #edc894;
}
.c2b2 {
  color: #e9bd7f;
}
.c2b1 {
  color: #e6b269;
}
.c2n6 {
  color: #704913;
}
.c2n5 {
  color: #855817;
}
.c2n4 {
  color: #9b661a;
}
.c2n3 {
  color: #b1741e;
}
.c2n2 {
  color: #c78322;
}
.c2n1 {
  color: #db9127;
}
/* Background Colors class */
.c2 {
  color: #e2a753;
}
.bg-c2 {
  background-color: #e2a753;
}
.bg-c1b6 {
  background-color: #9feeef;
}
.bg-c1b5 {
  background-color: #73e6e8;
}
.bg-c1b4 {
  background-color: #3edcdf;
}
.bg-c1b3 {
  background-color: #23cfd2;
}
.bg-c1b2 {
  background-color: #1fb9bc;
}
.bg-c1b1 {
  background-color: #1ca4a6;
}
.bg-c1n6 {
  background-color: #093839;
}
.bg-c1n5 {
  background-color: #0c4546;
}
.bg-c1n4 {
  background-color: #0e5253;
}
.bg-c1n3 {
  background-color: #105f60;
}
.bg-c1n2 {
  background-color: #126c6d;
}
.bg-c1n1 {
  background-color: #14787a;
}
.bg-c2b6 {
  background-color: #f4dfc0;
}
.bg-c2b5 {
  background-color: #f2d8b3;
}
.bg-c2b4 {
  background-color: #efcfa2;
}
.bg-c2b3 {
  background-color: #edc894;
}
.bg-c2b2 {
  background-color: #e9bd7f;
}
.bg-c2b1 {
  background-color: #e6b269;
}
.bg-c2n6 {
  background-color: #704913;
}
.bg-c2n5 {
  background-color: #855817;
}
.bg-c2n4 {
  background-color: #9b661a;
}
.bg-c2n3 {
  background-color: #b1741e;
}
.bg-c2n2 {
  background-color: #c78322;
}
.bg-c2n1 {
  background-color: #db9127;
}
