/*
 @mixin sombrasClass($sombras){
   @for $j from 1 to (length($sombras)+1){
     $sombra: nth($sombras,$j);
     $name:Sh#{$j};
      .#{$name}{
        @include box-shadow($sombra); 
        }
}
}*/
/* Colors class */
.c1 {
  color: #188e90;
}
.bg-c1 {
  background-color: #188e90;
}
.c1b6 {
  color: #f5f9f9;
}
.c1b5 {
  color: #d8e8e8;
}
.c1b4 {
  color: #c1e5e6;
}
.c1b3 {
  color: #87d2d3;
}
.c1b2 {
  color: #43c8cb;
}
.c1b1 {
  color: #1dacaf;
}
.c1n6 {
  color: #093839;
}
.c1n5 {
  color: #0c4546;
}
.c1n4 {
  color: #0e5253;
}
.c1n3 {
  color: #105f60;
}
.c1n2 {
  color: #126c6d;
}
.c1n1 {
  color: #14787a;
}
.c2b6 {
  color: #f4dfc0;
}
.c2b5 {
  color: #f2d8b3;
}
.c2b4 {
  color: #efcfa2;
}
.c2b3 {
  color: #edc894;
}
.c2b2 {
  color: #e9bd7f;
}
.c2b1 {
  color: #e6b269;
}
.c2n6 {
  color: #704913;
}
.c2n5 {
  color: #855817;
}
.c2n4 {
  color: #9b661a;
}
.c2n3 {
  color: #b1741e;
}
.c2n2 {
  color: #c78322;
}
.c2n1 {
  color: #db9127;
}
.blanco {
  color: #ffffff;
}
.bg-blanco {
  background-color: #ffffff;
}
/* Background Colors class */
.c2 {
  color: #e2a753;
}
.bg-c2 {
  background-color: #e2a753;
}
.bg-c1b6 {
  background-color: #f5f9f9;
}
.bg-c1b5 {
  background-color: #d8e8e8;
}
.bg-c1b4 {
  background-color: #c1e5e6;
}
.bg-c1b3 {
  background-color: #87d2d3;
}
.bg-c1b2 {
  background-color: #43c8cb;
}
.bg-c1b1 {
  background-color: #1dacaf;
}
.bg-c1n6 {
  background-color: #093839;
}
.bg-c1n5 {
  background-color: #0c4546;
}
.bg-c1n4 {
  background-color: #0e5253;
}
.bg-c1n3 {
  background-color: #105f60;
}
.bg-c1n2 {
  background-color: #126c6d;
}
.bg-c1n1 {
  background-color: #14787a;
}
.bg-c2b6 {
  background-color: #f4dfc0;
}
.bg-c2b5 {
  background-color: #f2d8b3;
}
.bg-c2b4 {
  background-color: #efcfa2;
}
.bg-c2b3 {
  background-color: #edc894;
}
.bg-c2b2 {
  background-color: #e9bd7f;
}
.bg-c2b1 {
  background-color: #e6b269;
}
.bg-c2n6 {
  background-color: #704913;
}
.bg-c2n5 {
  background-color: #855817;
}
.bg-c2n4 {
  background-color: #9b661a;
}
.bg-c2n3 {
  background-color: #b1741e;
}
.bg-c2n2 {
  background-color: #c78322;
}
.bg-c2n1 {
  background-color: #db9127;
}
/* Sombras */
.Sh21 {
  -webkit-box-shadow: 1px 1px 10px 0px #808080;
  -moz-box-shadow: 1px 1px 10px 0px #808080;
  box-shadow: 1px 1px 10px 0px #808080;
  -o-box-shadow: 1px 1px 10px 0px #808080;
  -ms-box-shadow: 1px 1px 10px 0px #808080;
}
.Sh20 {
  -webkit-box-shadow: inset 2px 2px 70px 0px #f1d4aa;
  -moz-box-shadow: inset 2px 2px 70px 0px #f1d4aa;
  box-shadow: inset 2px 2px 70px 0px #f1d4aa;
  -o-box-shadow: inset 2px 2px 70px 0px #f1d4aa;
  -ms-box-shadow: inset 2px 2px 70px 0px #f1d4aa;
}
.Sh19 {
  -webkit-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  -o-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
  -ms-box-shadow: 0px -2px 6px 0px rgba(0, 0, 0, 0.35);
}
.Sh18 {
  -webkit-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -o-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
  -ms-box-shadow: 2px 5px 9px 0px rgba(0, 0, 0, 0.75);
}
.Sh17 {
  -webkit-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  -o-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.24);
}
.Sh16 {
  -webkit-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  -moz-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  -o-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
  -ms-box-shadow: inset 0px 0px 35px 0px rgba(125, 161, 179, 0.2);
}
.Sh15 {
  -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -o-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -ms-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.24);
}
.Sh14 {
  -webkit-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  -o-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
  -ms-box-shadow: inset 0px 0px 6.5px 1px rgba(0, 0, 0, 0.6);
}
.Sh13 {
  -webkit-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.2);
}
.Sh12 {
  -webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.Sh11 {
  -webkit-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  -moz-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  -o-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
  -ms-box-shadow: inset 2px 2px 30px 0px #5a5a5a;
}
.Sh10 {
  -webkit-box-shadow: 1px 1px 3px 0px #000000;
  -moz-box-shadow: 1px 1px 3px 0px #000000;
  box-shadow: 1px 1px 3px 0px #000000;
  -o-box-shadow: 1px 1px 3px 0px #000000;
  -ms-box-shadow: 1px 1px 3px 0px #000000;
}
.Sh9 {
  -webkit-box-shadow: -1px -1px 3px 0px #666666;
  -moz-box-shadow: -1px -1px 3px 0px #666666;
  box-shadow: -1px -1px 3px 0px #666666;
  -o-box-shadow: -1px -1px 3px 0px #666666;
  -ms-box-shadow: -1px -1px 3px 0px #666666;
}
.Sh8 {
  -webkit-box-shadow: 1px 1px 3px 0px #666666;
  -moz-box-shadow: 1px 1px 3px 0px #666666;
  box-shadow: 1px 1px 3px 0px #666666;
  -o-box-shadow: 1px 1px 3px 0px #666666;
  -ms-box-shadow: 1px 1px 3px 0px #666666;
}
.Sh7 {
  -webkit-box-shadow: inset 1px 1px 3px #5a5a5a;
  -moz-box-shadow: inset 1px 1px 3px #5a5a5a;
  box-shadow: inset 1px 1px 3px #5a5a5a;
  -o-box-shadow: inset 1px 1px 3px #5a5a5a;
  -ms-box-shadow: inset 1px 1px 3px #5a5a5a;
}
.Sh6 {
  -webkit-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  -moz-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  -o-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
  -ms-box-shadow: inset 2px 2px 30px 0px #c8dcd8;
}
.Sh5 {
  -webkit-box-shadow: 0px 0px 3px 1px #808080;
  -moz-box-shadow: 0px 0px 3px 1px #808080;
  box-shadow: 0px 0px 3px 1px #808080;
  -o-box-shadow: 0px 0px 3px 1px #808080;
  -ms-box-shadow: 0px 0px 3px 1px #808080;
}
.Sh4 {
  -webkit-box-shadow: 0px 0px 1px 0px #89b5ab;
  -moz-box-shadow: 0px 0px 1px 0px #89b5ab;
  box-shadow: 0px 0px 1px 0px #89b5ab;
  -o-box-shadow: 0px 0px 1px 0px #89b5ab;
  -ms-box-shadow: 0px 0px 1px 0px #89b5ab;
}
.Sh3 {
  -webkit-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  -moz-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  -o-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
  -ms-box-shadow: inset 2px 2px 30px 0px #b8d3cd;
}
.Sh2 {
  -webkit-box-shadow: 0px 0px 6px 0px #000000;
  -moz-box-shadow: 0px 0px 6px 0px #000000;
  box-shadow: 0px 0px 6px 0px #000000;
  -o-box-shadow: 0px 0px 6px 0px #000000;
  -ms-box-shadow: 0px 0px 6px 0px #000000;
}
.Sh1 {
  -webkit-box-shadow: 0px 0px 6px 0px #e7f0ee;
  -moz-box-shadow: 0px 0px 6px 0px #e7f0ee;
  box-shadow: 0px 0px 6px 0px #e7f0ee;
  -o-box-shadow: 0px 0px 6px 0px #e7f0ee;
  -ms-box-shadow: 0px 0px 6px 0px #e7f0ee;
}
/*HEADERS FONTS*/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}
/*FORMS*/
form {
  padding: 0.5em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
input {
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
  height: 2em;
  border: none;
}
input::select {
  border: none;
}
/*FORMS - COLORS */
form.c1 {
  /*@bgcol:"@{cbname}b5";
      background-color: @@bgcol;*/
  background-color: #d8e8e8;
}
form.c1 * {
  color: #188e90;
}
form.c1 input {
  background-color: #c1e5e6;
  font-family: 'Lato', sans-serif;
}
form.c1 input:hover {
  background-color: #87d2d3;
  color: #14787a;
}
form.c1 input[type$="submit"] {
  background-color: #1dacaf;
  color: #c1e5e6;
  font-weight: bold;
  line-height: 2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
form.c1 input[type$="submit"]:hover {
  background-color: #188e90;
  color: #87d2d3;
}
form.c2 {
  /*@bgcol:"@{cbname}b5";
      background-color: @@bgcol;*/
  background-color: #f2d8b3;
}
form.c2 * {
  color: #e2a753;
}
form.c2 input {
  background-color: #efcfa2;
  font-family: 'Lato', sans-serif;
}
form.c2 input:hover {
  background-color: #87d2d3;
  color: #db9127;
}
form.c2 input[type$="submit"] {
  background-color: #e6b269;
  color: #efcfa2;
  font-weight: bold;
  line-height: 2em;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em;
}
form.c2 input[type$="submit"]:hover {
  background-color: #188e90;
  color: #87d2d3;
}
/* Classes*/
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cajauno {
  background: #f5f9f9;
  padding: 0px 2em 3em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
}
.acentro {
  text-align: center;
}
.logo-circ-cont {
  padding: 1em;
  text-align: center;
  width: 100%;
}
.logo-circ-cont img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #ffffff;
  height: auto;
  padding: 2px;
  border: 4px solid;
  -webkit-box-shadow: inset 2px 2px 70px 0px #f1d4aa , 1px 1px 10px 0px #808080;
  -moz-box-shadow: inset 2px 2px 70px 0px #f1d4aa , 1px 1px 10px 0px #808080;
  box-shadow: inset 2px 2px 70px 0px #f1d4aa , 1px 1px 10px 0px #808080;
  -o-box-shadow: inset 2px 2px 70px 0px #f1d4aa , 1px 1px 10px 0px #808080;
  -ms-box-shadow: inset 2px 2px 70px 0px #f1d4aa , 1px 1px 10px 0px #808080;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
/*IDs*/
#logo-splash {
  margin-top: -8em;
  width: 40%;
  max-width: 12em;
}
#bienvenida {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10em;
  width: 100%;
  max-width: 600px;
  padding-top: 1em;
  border: 5px solid #1dacaf;
  -webkit-box-shadow: 1px 1px 10px 0px #808080;
  -moz-box-shadow: 1px 1px 10px 0px #808080;
  box-shadow: 1px 1px 10px 0px #808080;
  -o-box-shadow: 1px 1px 10px 0px #808080;
  -ms-box-shadow: 1px 1px 10px 0px #808080;
}
#bienvenida-hdr {
  text-align: center;
}
#form-splash {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
