@import "variables"; 
@import "mixins2";


@mixin settForms(){
form, fieldset{
    padding: 1em;
    @include border-radius(1em);
    
}
input,select,textarea, button{
     @include border-radius(0.25em);
     height: 2em;
     border: solid 0.1em;
     margin: 0.5em;   
     font-family: $inputFontFamily;  
}

input[type="range"]{
    height: 0.3em;
}
    

input[type="submit"],button{
    @include border-radius(0.5em);
    font-weight: bold;          
}

input{
padding: 0 1em 0 1em;  
}

input::select{
    border:none;
}

input:focus, input:active{
border-style: none;         
}
 
textarea{
    min-width: 15em;
    min-height: 3em;
} 
 
label{
      font-family: $inputFontFamily;
      font-size: 0.95em;
}
 
fieldset{
    margin-bottom: 1em;
    border: dashed 1px;
}      

input:focus, select:focus, textarea:focus{
     font-weight: bold;
     outline: none;
    
}

 input:invalid{
text-decoration: line-through; 
}


form ul li{
    list-style: none;
}     
 
legend{
    font-family: $inputFontFamily;
    margin-left: 2em;   
    font-weight: bold;
}      

legend:before{
    content: "[ ";
}

legend:after{
    content: " ]";
}    
 
 input.dest{
    font-weight:bold;
}
 
  @include placeholder($gray,0.8em,italic);
  @include setCheckBoxAndRadios();    
}


@mixin settFormsColors($cbname){
/*
 $cbname: prefijo de color
 * */
      $fbackColor: evalColor(#{$cbname}b6);
      background-color: $fbackColor;
      & *{
          color: evalColor(#{$cbname}n1);
      }
      &  input,select, textarea{
            background-color: evalColor(#{$cbname}b5);
            border-color: evalColor(#{$cbname}b2);
            @include box-shadow($Sh4);
          &:hover{
            color: #{$cbname}n1;
            background-color:  evalColor(#{$cbname}b5);
            @include box-shadow(0px 0px 0.35em 0px #{$cbname}n1);
          }
          
          &:focus{
           color: evalColor(#{$cbname}n2);
           background-color:  evalColor(#{$cbname}b6);
           border: 0.1em solid  evalColor(#{$cbname}n1);
          @include box-shadow(0px 0px 0.4em 0px #{$cbname}n1);
          text-decoration: none;
          }  
      } 
          & input[type="submit"], button{
          @include sosBoton(evalColor(#{$cbname}b5),evalColor(#{$cbname}));
          }
          
          & input[type="file"]{
              /*Falta implementar*/
          }

  
    
   & fieldset{
    border-color:   evalColor(#{$cbname}b3);
   }
   & fieldset.dest{
     background-color: evalColor(#{$cbname}b6);
} 

/*input.dest:focus{
    font-weight: normal;
}*/




  & input{
    $phColor: phColor(evalColor(#{$cbname}b1));
   @include placeholder($phColor,0.8em,italic);   
  } 
 @include selection(evalColor(#{$cbname}),evalColor(#{$cbname}b5));  

}

@function phColor($c){
    @return desaturate($c,35%);
}





@mixin sosBoton($color,$bgcolor){
     $finalcolor: lighten($bgcolor,10%);
    color:$color;
    background-color:$bgcolor;
    vertical-align: middle;
    height: 2.5em;
    line-height: 1em;
    padding: 0.3em 2em 0.3em 2em;
     @include border-radius(0.3em);
    border: darken($bgcolor,3%) 1px solid;
    @include gradient($bgcolor,$bgcolor,$finalcolor);
    @include box-shadow($Sh22);
     text-shadow: 0 1px 1px rgba(0,0,0,.3);
    &:hover{
        $hcolor:lighten($color,5%);      
        $hbgcolor:darken($bgcolor,5%);
        $hfinalcolor:lighten($hbgcolor,10%);
    color:$hcolor;
    background-color:$hbgcolor;
    @include gradient($hbgcolor,$hbgcolor,$hfinalcolor);
    } 
}

@mixin setCheckBoxAndRadios(){
    /*Uso :root para que solo funcione con navs que soportan css3*/
  :root{
       & input[type="checkbox"],input[type="radio"]{
       visibility:hidden;
       position:absolute;
            & +label:before{
                font-family:$iconsFontFamily;
                font-size:1.4em;
                line-height: 1em;
                cursor: pointer;
                position: relative;
            }
        }
        & input[type="checkbox"]+label:before{
           content: "\e60d";
        } 
        & input[type="checkbox"]:checked + label:before{
           content: "\e60c";
        }
        & input[type="checkbox"].tilde:checked + label:before{
           content: "\e60b";
        }
        & input[type="radio"]+label:before{
             content: "\e601";
        }  
        & input[type="radio"]:checked +label:before{
           content: "\e600"; 
        }
        
    }  
}



