@import "variables";
@import "mixins2";

#colortest {
    width: auto;
}
.ct {
    width: auto;
}
.fila {
    display: block;
    float: left;
    width:10%;
    margin: 0 5% 5% 5%;
}
.col, .som , .cs{
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    @include rounded-corners (10px);
    margin: 10px 0 0 0;
    font-weight: bold;
}
.cs *{
  cursor: hand;
}

.som{
  margin-top: 20px;
  color: black;
}

.col{
   @include box-shadow($Sh8);
   text-shadow: 0px 1px 2px black;
   color: white;
}
.col span {
   @include opacity(60);
}

.color div {
    height: 100px;
    line-height: 100px;
}

#page,#main{height:auto;}


#colorcont,#sombrascont {
margin: 0;
padding: 0;
min-height: 575px;
overflow: auto;
}
#colortest,#sombrastest{
    vertical-align: middle;
}
